# Heavier heaps for operator pipelines
-Xms7G
-Xmx7G

# GC & JVM
-server
-XX:+UseG1GC
-XX:+ExplicitGCInvokesConcurrent
-XX:+AlwaysPreTouch
-XX:+UseStringDeduplication
-XX:G1ReservePercent=20
-XX:InitiatingHeapOccupancyPercent=30
-XX:+ExitOnOutOfMemoryError
-XX:ErrorFile=/var/log/worker_hs_err_pid%p.log
